.title-work {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.title-work {
  margin-bottom: 50px;
}
.title-team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.title-team {
  margin-bottom: 50px;
}
.title-clients {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}