.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.accent-text {
  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-decoration: none;
}

.accent-footer {
  color: var(--primary-fon-color);
}
.link-address {
  color: var(--primary-fon-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.link-contact {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:focus {
  color: var(--accent-text-color);
}
.link-contact:hover {
  color: var(--accent-text-color);
}

.adress-footer {
  margin-top: 20px;
}
.contact-footer {
  margin-top: 4px;
}

.title-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.title-footer {
  margin-bottom: 20px;
}

.footer-form-div {
  display: flex;
  align-items: baseline;
}
.footer-form {
  margin-left: 93px;
}

.footer-icon-form {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.form-footer {
  display: flex;
  align-items: center;
  margin-right: 9px;
}

.input-footer {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  margin-right: 9px;
  background-color: #2f303a;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
