.hero {
  padding-top: 94px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title-hero {
  display: block;
  margin-top: auto;
}
.title-hero {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title-btn-hero {
  background-color: var(--accent-text-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
}
.title-btn-hero {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-btn-hero:hover,
.title-btn-hero:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
}
