
.work-foto {
  display: block;
  height: auto;
  width: 370px;
}
.item-work {
  position: relative;
}

.text-work {
  color: #ffffff;
  display: block;
  position: absolute;
}
.text-work {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-work {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-work {
  display: flex;
}
.item-work {
  margin-right: 30px;
}

.item-work:nth-child(3n) {
  margin-right: 0px;
}
.title-work {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
